.au-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.au-container-item {
  display: flex;
  justify-content: space-around;
  width: 73%;
  margin: 0 2% 3% 2%;
}

.au-content-title {
  font-weight: 600;
}

.au-content-title p {
  padding: 1vw 0 1vw 0;
  font-size: 1.5vw;
}

.au-content-details p {
  padding: 1vw 0 1vw 0;
  font-size: 1.5vw;
}

.au-content-icon {
  align-self: flex-end;
}

.au-content-icon img {
  height: 5vw;
}

.au-content-map img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .au-container-item {
    width: 100%;
  }
  .au-content-title p {
    font-size: 3.2vw;
  }

  .au-content-details p {
    font-size: 3vw;
  }

  .au-content-details {
    margin-top: 0.5%;
  }

  .au-content-icon img {
    height: 7vw;
  }

  .au-container {
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 450px) {
}
