.slider-container {
  /* border: 1px solid red; */
  width: auto;
}

.slider {
  position: relative;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 50vw;
  border-radius: 1vw;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

.right-arrow {
  color: black;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  height: 7vw;
}

.left-arrow {
  color: black;
  cursor: pointer;
  user-select: none;
  height: 7vw;
  z-index: 1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.full-screen {
  display: flex;
  justify-content: center;
  padding: 0% 2% 1% 2%;
  font-size: 2vw;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.38);
}

@media only screen and (max-width: 600px) {
  .image {
    height: 80vw;
    border-radius: 2.5vw;
  }

  .slider-container {
    margin-top: 10vw;
    margin-bottom: 12vw;
  }
}

/* with grids */

.slider-item-container {
  /* border: 1px solid blue; */
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.si {
  /* background-color: lightblue; */
  width: auto;
  height: auto;
  /* border: 1px solid green; */
}

.s-item1 {
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-item2 {
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-item3 {
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
