.line-container {
  display: flex;
  justify-content: center;
}

.line-item {
  padding: 0.1vw;
  background-color: rgba(217, 217, 217, 0.55);
  border-radius: 95px;
  margin-top: 2%;
  width: 66%;
}
