.nav-container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: inter;
  background-color: black;
  font-size: 1vw;
  width: 100%;
  position: fixed;
  z-index: 10;
  /* border: 2px solid red; */
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.nav-logo {
  padding: 10px;
  order: 1;
  margin-left: 2%;
  /* border: 1px solid blue; */
}

.nav-logo img {
  height: 3vw;
}

.nav-options {
  display: flex;
  list-style: none;
  order: 2;
  flex-grow: 1;
  justify-content: center;
  column-gap: 100px;
  color: white;
  flex-wrap: wrap;
}

.nav-options li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-social {
  display: flex;
  list-style: none;
  order: 3;
  margin-right: 2%;
  color: white;
}

.nav-social li {
  display: flex;
  align-items: center;
  padding: 7px;
}

.nav-hamburger {
  display: none;
  /* border: 2px solid green; */
}

.nav-hamburger img {
  height: 3vw;
  /* border: 1px solid yellow; */
}

/* Ipad Sizes */

@media only screen and (max-width: 1024px) {
  .nav-hamburger {
    display: flex;
    width: 100%;
    flex: 25%;
    align-items: center;
    justify-content: flex-end;
    order: 4;
    margin-right: 3vw;
  }

  .nav-options {
    display: none;
  }

  .nav-social {
    display: none;
  }

  /* The navbar bar hidden conditional box */
  #hidden {
    top: 100%;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 6vw;
    background-color: black;
    font-size: 3.5vw;
    padding-top: 2vw;
  }

  #hidden-social {
    display: flex;
    position: absolute;
    bottom: -950%;
    z-index: 100;
    left: 3.5%;
  }

  #hidden-social img {
    height: 5vw;
  }

  #hidden li:hover {
    color: #126eb8;
  }
}

@media only screen and (max-width: 900px) {
  .nav-logo img {
    height: 5vw;
  }
  #hidden-social {
    bottom: -700%;
  }
}

/* Larger phone */

@media only screen and (max-width: 600px) {
  .nav-logo img {
    height: 6vw;
  }

  #hidden-social {
    bottom: -600%;
  }

  #hidden {
    font-size: 5vw;
  }

  #hidden-social {
    height: 7vw;
    top: 700%;
  }
}
