.t-container {
  width: 100%;
  position: relative;
}

.t-container .t-bg {
  width: 100%;
  height: 40vw;
  z-index: 40;
}

.t-slider {
  border: 2px solid red;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.t-middle-container {
  border: 2px solid yellow;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.t-text-container {
  border: 1px solid green;
  position: absolute;
  text-align: center;
}

.t-middle-img {
  position: absolute;
  top: -11vw;
  left: 33.6vw;
  height: 5vw;
  border: 1px solid blue;
}

.t-middle-short {
  position: absolute;
  top: -5vw;
  left: 34vw;
  font-size: 2vw;
  font-weight: 500;
  color: #db7f45;
  border: 1px solid blue;
}

.t-text-long {
  border: 1px solid blue;
  font-size: 2vw;
  color: white;
  font-weight: 200;
  margin: 0 2vw 0 2vw;
}

.t-quote-container {
  border: 1px solid green;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 10%;
}

.t-quote-container .t-quote-img {
  border: 1px solid rgb(0, 217, 255);
  height: 100%;
}

.t-quote-img img {
  height: 4vw;
}

.t-left-container {
  border: 1px solid green;
}

.t-right-container {
  border: 1px solid green;
}

.t-left {
  height: 5vw;
  margin-left: 10vw;
}

.t-right {
  height: 5vw;
  margin-right: 10vw;
}
